{
  "extends": ["standard"],
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "eqeqeq": [2, "smart"],
    "space-before-function-paren": [2, "never"]
  },
  "parser": "babel-eslint"
}
